DB_HOST=localhost
DB_PORT=3306
DB_NAME=codeflow
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=localhost
REDIS_PORT=6379

MAIL_USERNAME=
MAIL_PASSWORD=

JWT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
OAUTH2_REDIRECT_URI=https://test.dong02.com/oauth/callback
